
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/website.static.navigator/" />
    <link rel="stylesheet" type="text/css" href="/website.static.navigator/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/website.static.navigator/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/website.static.navigator/css/site.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/_customs/has.uas/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/_customs/has.uas/images/favicon-16x16.png" />
    <link rel="shortcut icon" type="images/x-icon" href="/_customs/has.uas/images/favicon.ico" />
    
</head>

<body>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid overflow-auto h-100">
                                    

        <div class="row justify-content-center">

                <div class="card border-2 border-primary m-4">
                    <div class="card-header text-center bg-white border-0">
						<!-- update with language name -->
                        <h4 class="card-title m-0">English</h4>
                    </div>
                    <div class="card-body py-2">
                        <div class="my-2 mx-4">
							<!-- update with country image of language -->
                            <img src=/_customs/website.static.content/language_configuration/country_images/royaume-uni.png alt="" class="img-fluid"> 
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white border-0">
						<!-- update with link to language folder -->
                        <a href="/website.static.navigator/_static/website.static.content/EN/index.htm" class="btn btn-primary bg-primary border-primary"><b>Open</b></a>
                    </div>
                </div>
                <div class="card border-2 border-primary m-4">
                    <div class="card-header text-center bg-white border-0">
						<!-- update with language name -->
                        <h4 class="card-title m-0">Français</h4>
                    </div>
                    <div class="card-body py-2">
                        <div class="my-2 mx-4">
							<!-- update with country image of language -->
                            <img src=/_customs/website.static.content/language_configuration/country_images/france.png alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="card-footer text-center bg-white border-0">
						<!-- update with link to language folder -->
                        <a href="/website.static.navigator/_static/website.static.content/FR/index.htm" class="btn btn-primary bg-primary border-primary"><b>Open</b></a>
                    </div>
                </div>
        </div>

                </div>
            </div>

    <!-- scripts -->
    <script src="/website.static.navigator/lib/jquery/jquery.min.js"
            crossorigin="anonymous"></script>
    <script src="/website.static.navigator/lib/bootstrap/dist/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <script src="/website.static.navigator/lib/font-awesome/js/all.min.js" crossorigin="anonymous"></script>

    
</body>

</html>